@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

p{
    font-family: 'Montserrat', sans-serif;
    
}

#fascia-superiore{
    background-color: blue;
    height: 36px;
    padding: 5px;
    padding-right: 100px;
}

#fascia-superiore a{
    text-decoration: none;
    color:white;
}

#fascia-superiore a:hover{
    color: blue;
}

#fascia-navigazione{
    height: 91px;
    padding: 45.5px;
}

#fascia-navigazione a{
    text-decoration: none;
    font-size: 1.2rem;
}

#fascia-navigazione a:hover{
    color:blue
}

#fascia-sotto{
    background-color: blue;
    height: 36px;
    padding: 577px;
    padding-right: 100px;
}

#fascia-sotto p{
    
}